 <form method='POST'>
<style>
login {
	 background-color: #f9c44f;
	 padding:100px;
	 position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
	 height:350px;
	 width:300px"
	}
button {
	background-color: black;
	color: white;
	cursor: pointer;
	border: none;
	font-size: 14px;
}
::placeholder {
	color:black;
	font-size: 14px;
}
button:hover {
	background-color: grey;
}

input[type=submit] {
   background:#000; 
	color: white;
	cursor: pointer;
	border: none;
	font-size: 14px;
}

</style>
	<login>
 	   <font face = "Tahoma" color="black" size = '6' weight=bold>
	      <img src="https://www.unsw.edu.au/sites/default/files/UNSW_0.png"><br>
 	      Meet and Yeet on Campus
	   </font>
 	   <br>
 	   <font face = "verdana" color="black" size = '2'>
         <form action='login' method='POST'>
            <input type='text' name='name' id='name' placeholder='Name' style = "height:25px;font-size:13"><br>
            <br>
            <input type='submit' name='submit' value='Login'>
         </form>
 	   <br><br>
   <font face = "Geneva" color="#3a3a3a" size = '0.5' weight: '3'>
   <br><br>
		<b>By logging in to wSSO, I acknowledge and agree that:<br></b>
		I am authorised by UNSW to use this machine and access the UNSW IT system;<br>
		I have read and understand the Acceptable Use of UNSW Information and Communication Technology (ICT) Resources Policy (the 'Policy') and the Acceptable Use of UNSW Information and Communication Technology (ICT) Procedure;<br>
		I understand that the Policy and the Procedure contain important information and requirements in respect of the use of UNSW information and communication technology resources and that the usage of UNSW ICT Resources, including internet and email, is subject to monitoring in accordance with the terms of the Policy and Procedure; and
		I agree to the terms and conditions of using UNSW ICT Resources as set out in the Policy and the Procedure.<br>
   </font>
  </login>
